body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body > section {
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow:hidden;
}
#game-window {
    position: relative;
    display: block;
    margin: auto;
    height: 100vh;
    width: 100vw;
    max-height: 75vw;
    max-width: 133.33333333333vh;
    vertical-align: middle;
    align-self: center;
    z-index: 1;
    overflow: hidden;
}
#playground {
    position: relative;
    background-color: #67c8ff;
    display: block;
    height: 90%;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}
#game-window > nav {
    position: relative;
    background-color: floralwhite;
    line-height: 100%;
    vertical-align: middle;
    text-align: center;
    height: 10%;
    width: 100%;
}
#weapon-choose {
    position: absolute;
    overflow: hidden;
   /* height: 90%;
    width: 100%;
    top: 0;
    left: 0;*/
    height: 0;
    width: 0;
    top:90%;
    left: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: block;
    transition: height 1s, width 1s, top 1s, left 1s;
}
#game-window > nav > button{
    border: none;
    border-radius: 5px;
    padding: .5rem;
    font-size: 1rem;
}

#game-window > nav > button {
    border: none;
    border-radius: 0;
    background-color: beige;
    padding: 0 2rem;
    height: 100%;
    font-size: 2rem;
}

#game-window > nav > button[name="fire"] {
    float: left;
}

#game-window > nav > button[name="weapon"] {
    float: right;
}

#game-window > nav > button > img {
    height: 1rem;
    width: 1rem;
    margin-right: .5rem;
}

#game-window > nav > button:hover, #game-window > nav > button:focus {
    background-color: #ddc66e;
}

#game-window > nav > button:active {
    box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.5);
}

#start-window {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10000;
    transition-property: height;
    transition-duration: 1s;
    transition-delay: 0s;
    overflow:hidden;
}

.start-window-hide {
    height: 0;
}

#start-window > section {
    width: 100%;
    text-align: center;
    align-self: center;
}

#start-window > section > h1 {
    color: #ffffff;
    font-size: 5rem;
    margin: auto;
}

#start-window > section > span {
    color: #ffffff;
    font-size: 3rem;
    margin-top: 3rem;
    display: none;
}

#start-window > section > button {
    margin-top: 2rem;
    font-size: 3rem;
    color: #ffffff;
    background-color: #3c7ea8;
    padding: 1rem 3rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}

#start-window > section > button:hover, #start-window > section > button:focus {
    color: #bbbbbb;
}

#start-window > section > button:active {
    background-color: #3c5b85;
}

#end-button, #end-rank, #start-countdown, #start-waiting {
    display: none;
}

#strength {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 60%;
    background: linear-gradient(90deg, #00ff00, #ff0000);
    cursor: pointer;
}

#strength > span {
    position: absolute;
    display: block;
    width: 2px;
    height: 100%;
    background-color: #000000;
    left: 50%;
    cursor: pointer;
}

